.song {
    background-color: white;
    flex-direction: row;
    display: flex;
}
.text {
   display: flex;
   align-items: center;
}

p {
    border-color: silver;
}


.viewSong {
    display: flex;
    flex-direction: row;
}